*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, Helvetica, sans-serif;
}
#root{
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
}
input{
    width: 40rem;
    height: 2.4rem;
    outline: none;
    border: 1px solid #d4d3d3;
    border-radius: 2rem;
    font-size: 1rem;
    color: #746e6e;
    padding-left: 1.3rem;
    margin-top: 40px;
    margin-bottom: 15px;
}
input:hover{
    box-shadow: 0px 0px 10px 0.1px #afb0b1;
}
input:focus{
    background-color: #ddddddb4;
}
.objects{
    text-align: left;
    margin-top: 20px;
}
.main{
    max-width: 44rem;
    margin-left: 8rem;
}
img{
    width: 5rem;
    position: absolute;
    left: 14px;
    top: 25px;
    cursor: pointer;
}
.displayLink{
    text-decoration: none;
    color: #303030;
    font-size: 13px;
}
.link{
    font-size: 25px;
    text-decoration: none;
    line-height: 35px;
    color: #2c2cb1;
}
.link:hover, .displayLink:hover{
    text-decoration: underline;
}

.desc{
    margin-top: 5px;
    color: #4d5156;
    font-size: 15px;
}
@media only screen and (max-width: 1000px){
    img{
        position: static;
    }
    input{
        margin: 0;
        margin-top: 20px;
        width: 100%;
    }
    .main{
        margin: 0 20px;
    }
    .link{
        font-size: 23px;
    }
}